@font-face {
  font-family: AlexBrush; /* set name */
  src: url("Alex_Brush/AlexBrush-Regular.ttf"); /* url of the font */
}
@font-face {
  font-family: Priestacy; /* set name */
  src: url("Priestacy/Priestacy.otf"); /* url of the font */
}

body {
  background: url("static/bg.png");
  padding: 0;
  margin: 0;
  font-family: "Gilda Display", "Garamond", serif;
  color: #585;
}

#header {
 width: 100%;
 height: 420px;
 box-sizing: border-box;
 padding-top: 160px;
 background-position-y: -420px;
 transition: all 3s;
}
#leaves {
	 background-image: url("leaves.webp");
	 background-size: contain;
	 background-repeat: no-repeat;
	 position: absolute;
	 top: -420px;
	 height: 100%;
	 width: 100%;
	 min-width: 800px;
	 transition: all 3s;
	 pointer-events: none;
}
#header {
  opacity: 0;
  transition: all 5s;
}
#content {
  opacity: 0;
  transition: all 5s;
}
#content > div {
    width: 600px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 2.1rem;
}


#footer {
    width: 100%;
    min-height: 420px;
    margin-top: 40px;
    position: relative;
    pointer-events: none;
}
#footer:before {
    content: "";
    position: absolute;
    width: 100%;
    min-width: 800px;
    height: 500%;
    background: url("leaves.webp") no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    bottom: 0;
}

#content {
 min-height: 200px;
 box-sizing: border-box;
 padding: 0 0;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
  margin: 2px 2px 5px 2px;
  font-weight: normal;

}
h1 {
  font-family: "AlexBrush", "Brush Script MT", cursive;
  text-transform: none;
  margin: 10px 10px 20px 10px;
  font-size: 90px;
}
h2 {
  font-family: "AlexBrush", "Brush Script MT", cursive;
  font-size: 2.5rem;
  text-transform: none;
}

#header .nav {
  width: 300px;
  margin: 40px auto;
}
#header .nav .navitem {
  display: inline-block;
  margin: 0 5px;
}
.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}
a, a:visited {
  color: #dfd;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s;
}
a:hover {
	background: #141;
}
.rsvp {
  width: 80px;
  padding: 10px 0 5px 0;
  background: #556b2f;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
}
.rsvp > h4 {
  font-weight: bold;
}
img.pic {
  width: 600px;
  margin: 20px auto;
  display: block;
  transition: all 0.5s;
  box-shadow: 2px 4px 6px black;
  #filter: saturate(0.3) blur(1px);
}
img.pic:hover {
  filter: none;
  box-shadow: 4px 4px 10px black;
}

#footer {
	margin-top: 40px;
}

ul li {
    margin-bottom: 10px;
    line-height: 1.5rem;
}

@media screen and (max-device-width: 800px) {
  #content {
    min-height: calc(100% - 880px);
  }

  html {
    font-size: 2rem;
  }
  body {
    background-repeat: round;
  }

  #header {
    height: 500px;
  }
  #header .nav {
    width: 537px;
  }
  .rsvp {
    width: 109px;
    padding: 10px 5px 5px 5px;
  }
}

#photos {
    height: 420px;
    padding: 0 10px;
    overflow: hidden;
    position: relative
}

#photos .pic {
    height: 370px;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
    cursor: pointer;
}
#photos .pic.visible {
    height: 370px;
    object-fit: cover;
    position: absolute;
    opacity: 1;
}

@media only screen and (max-device-width: 400px) {
  html {
    font-size: 3rem;
  }

  #header {
    height: 550px;
  }
  #header .nav {
    width: 780px;
  }
  .rsvp {
    width: 159px;
    padding: 10px 10px 5px 10px;
  }

  h1 {
    font-size: 110px;
  }
}
